.navbar-toggler {
  color: #fff; 
}

nav {
  background-color: #a4c96e !important;
}

.bg-dropdown{
  background-color: #a4c96e !important;
}

.dropdown-item:hover{
  background-color: #89bb3e !important;
}


.nav-item {
  color: #333; 
  padding-inline: 5px;
  margin: 5px;
  width: auto;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #89bb3e;
  cursor: pointer;
}

.button-logout {
  padding-inline: 5px;
  margin: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

#navbarLogin{
  float: right;
}
