<div class="container py-5 text-center">
  <div class="container pb-3">
    <h1>Bem-vindo ao Sistema de Gerenciamento de Bovínos</h1>
    <p>Com nosso sistema, você pode facilmente gerenciar os bovínos de sua fazenda. Confira todas as possibilidades que
      nosso sistema pode fornecer para o seu negócio.</p>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-md-4">
      <div class="card mb-3 text-center w-100 h-100">
        <img src="../../../../assets/boi.svg"
          class="card-img-top mx-auto py-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Bovínos</h5>
          <p class="card-text">Registre novos bovínos em seu sistema de forma rápida e fácil. Adicione informações
            detalhadas, como raça, idade e histórico de saúde.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3 text-center  w-100 h-100">
        <img src="../../../../assets/balanca.svg" class="card-img-top mx-auto py-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Controle de Peso</h5>
          <p class="card-text">Mantenha o controle do peso de seus bovínos ao longo do tempo. Registre pesagens
            regulares para monitorar o crescimento e a saúde de seus animais.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3 text-center  w-100 h-100">
        <img src="../../../../assets/grafico.svg" class="card-img-top mx-auto py-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Geração de Gráficos</h5>
          <p class="card-text">Visualize dados de peso e crescimento de seus bovínos por meio de gráficos interativos.
            Analise tendências e tome decisões informadas para melhorar sua produção.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mb-3 text-center  w-100 h-100">
          <img src="../../../../assets/vacina.svg"
            class="card-img-top mx-auto py-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cadastro de Atividade</h5>
            <p class="card-text">Registre novas atividades em seu sistema de forma rápida e fácil. Adicione uma
              descrição
              detalhada para identificar a atividade posteriormente.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 text-center  w-100 h-100">
          <img src="../../../../assets/planilha.svg" class="card-img-top mx-auto py-2"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Cadastro de Sessão</h5>
            <p class="card-text">Registre novas sessões em seu sistema, incluindo a descrição da sessão e a data em que
              ocorreu. Associe atividades às sessões para rastrear o progresso e o histórico.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mb-3 text-center  w-100 h-100">
          <img src="../../../../assets/olho.svg" class="card-img-top mx-auto py-2" alt="...">
          <div class="card-body">
            <h5 class="card-title">Visualizar Sessões</h5>
            <p class="card-text">Veja uma lista de todas as sessões registradas em seu sistema. Visualize detalhes como
              data, descrição e status da sessão.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>