<footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-center">
          <img src="../../../../assets/logo.svg" alt="Logo Agrobovino">
        </div>
        <div class="col-md-4 text-center">
          <span class="copyr">&copy; 2024 Agrobovino. Todos os direitos reservados.</span>
          <p class="copyr">Desenvolvido por Dan Souza, Laio Rodrigues e João Vitor Nascimento.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="../../../../assets/logo-residencia.png" alt="Logo Residência">
        </div>
      </div>
    </div>
  </footer>
  