<div class="text-center pt-5">
  <div class="title">
    <h1>Cadastro de Sessão</h1>
  </div>
  <div>
    <p>Aqui você pode cadastar sessões que envolvem atividades a serem realizadas com seus bovínos. A sessão vai envolver uma descrição do que será feito, a data e os animais envolvidos.
    </p>
    <p>Após a realização do cadastro, as sessões podem ser visualizadas na lista de sessões.</p>
  </div>
</div>
<div class="container pb-5">
  <form [formGroup]="formCadastro" (ngSubmit)="cadastrarSessao()" class="container custom-line">
    <div class="row mx-auto">
      <div class="col-6 sessao">
        <div class="container">
          <div class="row text-center">
            <h2>Sessão</h2>
          </div>
          <div class="row mb-3">
            <mat-form-field>
              <mat-label>Descricao</mat-label>
              <textarea matInput formControlName="descricao"></textarea>
              <mat-error *ngIf="formCadastro.get('descricao')?.invalid">Descrição é obrigatória</mat-error>
            </mat-form-field>
          </div>
          <div class="row mb-3">
            <mat-form-field>
              <mat-label>Data da sessão</mat-label>
              <input matInput [min]="minDate" [matDatepicker]="picker1" formControlName="data"
                placeholder="Data da sessão" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="formCadastro.get('data')?.invalid">Data de sessão é obrigatória</mat-error>
            </mat-form-field>
          </div>


          <div class="row mb-3">
            <label>Selecione Atividades:</label>
            <select multiple [(ngModel)]="atividadesSelecionadas" [ngModelOptions]="{ standalone: true }">
              <option *ngFor="let atividade of listaAtividades" [value]="atividade.id"
                (click)="selectAtividade(atividade.id)">
                {{ atividade.descricao }}
              </option>
            </select>
          </div>
          <div class="row mb-3">
            <div *ngIf="formCadastro.get('atividades')?.hasError('selecaoInvalida')" class="text-danger">
              Selecione ao menos uma atividade
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 bovinos">
        <div class="text-center">
          <h2>Bovínos</h2>
        </div>
        <div class="row">
          <div class="text-right">
            <mat-checkbox (change)="checkAtividade($event.checked)">
              Selecionar Todos
            </mat-checkbox>
          </div>
        </div>
        <div class="bovinos-container container">
          <section class="row">
            <mat-checkbox class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let bovino of bovinosFiltrados"
              formControlName="{{ bovino.brinco }}">{{ bovino.brinco }}</mat-checkbox>
          </section>
        </div>
      </div>
    </div>
    <div class="row w-50 mt-3 mx-auto">
      <button type="submit" class="btn btn-submit shadow-sm">Cadastrar Sessão </button>
    </div>
  </form>
</div>